<script>

$(document).ready(function() {
   $('select').material_select();
 });

</script>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

  <div class="row">


    <div class="col s12 m6">
      <div class="card light-blue darken-3">
        <div class="card-content white-text">
          <span class="card-title">Registro de uma novo Usuário</span>

      <%= form_for :user ,as: :post,  url: register_path('email') do |f|  %>


          <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                     <%= f.text_field :name, :class => 'validate',:type=>"text"%>
                    <label for="first_name">Nome </label>
                  </div>

              <div class="input-field col s6">
              <%= f.select "sex", "<option>Homem</option><option>Mulher</option><option>Outro</option>".html_safe%>
                  <label>Genero</label>
                </div>
              </div>


                <div class="row">
                  <div class="input-field col s12">
                   <%= f.text_field :email, :class => 'validate',:type=>"email"%>
                    <label for="email">Email</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s6">
                     <%= f.text_field :password, :class => 'validate',:type=>"password"%>
                  <label for="password">Password</label>
                  </div>

                  <div class="input-field col s6">
                     <%= f.text_field :password_confirmation, :class => 'validate',:type=>"password"%>
                  <label for="password">Confirmação do Password</label>
                  </div>
                </div>

                <div >
                  <div class="input-field col s6 left-align">
                      <%= f.submit "Registrar",:class=>"waves-effect waves-light btn-large" %>
                  </div>
                </div>
              </form>
  <div >
        <div class="input-field col s6 ">
          <%= button_to "Registro com Facebook", "/auth/facebook", id: "sign_in", :class=>"waves-effect blue darken-4 btn-large"%>
          <%= button_to "Registrar com Gmail", "/auth/google_oauth2",  :class=>"waves-effect  red darken-2 btn-large"%>
          <%= button_to "Registrar com Github", "/auth/github",  :class=>"waves-effect grey darken-4 btn-large"%>
        </div>

  </div>

</div>
</div>




      </div>
    </div>


  </div>









<% end %>
