<div class="row">
  <div class="col s12">
    <div class="card  cyan darken-1 darken-1">
      <div class="card-content white-text">

        <div class="row">
          <div class="col s4 m4">
            <div class="card cyan darken-3 darken-1">
              <div class="card-content white-text">
                <i class="material-icons">assignment_ind</i>
                <span class="card-title">Nome: <%=@user.name %></span>
                <p>Email:    <%=@user.email %></p>
                <p>Categorias de interesse</p>
              </div>
            </div>
          </div>

          <div class="col s m">
            <div class="card cyan darken-3 darken-1">
              <div class="card-content white-text">
                <span class="card-title">Salas que é criador</span>
              <h5>
                      <%=@rooms.count %>
              </h5>

              </div>
            </div>
          </div>

          <div class="col s m">
            <div class="card cyan darken-3 darken-1">
              <div class="card-content white-text">
                <span class="card-title">Salas que participa</span>
              <h5>

              </h5>

              </div>
            </div>
          </div>




        </div>
      </div>


      <div class="card-action">
        <%= button_to "Criar uma Sala", create_room_path(@user.id), id: "sign_in", :class=>"waves-effect waves-light btn-large"%>
      </div>
  <div class="card-action ">
        <ul class="collapsible  " data-collapsible="accordion">
          <% @rooms.each do |room|%>
            <li>
              <div class="collapsible-header cyan darken-2"><i class="material-icons">filter_drama</i>Sala: <%= room.tittle %></div>
              <div class="collapsible-body ">
                  <p>
                    <%= room.description %>
                    <%= button_to "Adicionar um Fórum", create_forum_path(room), :class=>"waves-effect waves-light btn-large right-align "%>
                  </p>


              </div>
            </li>
          <%end%>
       </ul>
  </div>


    </div>
  </div>
</div>
