
<div class="row ">
     <div class="col s12 m4 l8 centerAlign ">
       <div class="card-panel">

    <%= form_for :user ,as: :post,  url: users_profile_path do |f|  %>

         <div class="row">
           <div class="input-field col s12">
             <%= f.text_field :email, :class => 'validate',:type=>"email"%>
          <label for="email">Email</label>
           </div>
         </div>

      <div class="row">
        <div class="input-field col s12">
            <%= f.text_field :password, :class => 'validate',:type=>"password"%>
          <label for="password">Password</label>
        </div>
      </div>

      <a class="waves-effect waves-light btn-large"><i class="material-icons left"></i>Voltar</a>
      <%= f.submit "Logar", :class=>"waves-effect waves-light btn-large" %>


      <%= button_to "Logar com Facebook", "/auth/facebook", id: "sign_in", :class=>"waves-effect blue darken-4 btn-large"%>

      <%= button_to "Logar com Github", "/auth/github", :class=>"waves-effect blue darken-4 btn-large"%>
        <%= button_to "Logar com Github", "/auth/google_oauth2",  :class=>"waves-effect  red darken-1 btn-large"%>

<% end %>




    </div>
  </div>
 </div>
